<!DOCTYPE html>
<html>
    <head>
        <title>EJS Templating</title>
        <body>
            <h1>Hello!</h1>
            <% items.forEach((item) => { %>
                <li><%= item %></li>
            <% }) %>
        </body>
    </head>
</html>